@import "../lib/mortar/development/less/mixins";

.m-breakpoint {
	position: fixed;
	z-index: 1000;
	bottom: 0px;
	left: 0px;
	padding: 10px 15px;
	color: white;
	font-size: 10px;
	text-transform: uppercase;
	.alphaBackground(black, 0.7); 
}