.m-breakpoint {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 10px 15px;
  font-size: 10px;
  color: white;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.7);
}